<div class="author">
  <img
    class="author-avatar"
    src="{{ site.author.avatar }}"
    alt="{{ site.author.username }}"
  />
  <h2 class="author-name">{{ site.author.name }}</h2>
  <p class="author-bio">{{ site.author.bio }}</p>
  <div class="address">
    <p>Located in Waterloo, Canada</p>
  </div>
</div>

<div class="clearfix">
<p>
  Hello! My name is Zekun Zhu, you can call me Robin. I have a strong passion for game development and game engine techniques. I enjoy experimenting with new methods and observing how they can enhance gameplay and enrich player experiences in the gaming industry.</p>

<p>I am currently a graduate student in the <b>University of Waterloo</b> major in Electronic and Computer Engineering with a focus on software development. My anticipated graduation date is Aug 2024.</p>

<p>As a former Gameplay Programmer at <b>NetEase Games</b>, I played a vital role in the development and maintenance of various gameplay systems for "A Dream of Jianghu," a cross-platform MMO game with over 100,000 monthly active players. Working within a team of 200 individuals, I focused on enhancing player experiences by implementing new skills, improving existing features, and introducing new mounts using Python. Additionally, I contributed to the evolution of our in-house game engine, Messiah, by spearheading initiatives to improve performance and develop new features such as the Navigation System, Cable Chain System, and Physics Material System using C++. Please review items in project folder for more details.</p>

<p>Contact me at <b>zkzhu1997@gmail.com</b> if interested!</p>
<p>Work experiences</p>
<ul>
  <li>NetEase Games: 2020.12 - 2023.7</li>
  <li>Hospital Authority: 2018.8 - 2019.7</li>
  <li>Petfriend Games: 2018.5 - 2019.7</li>
<ul>
</div>
